@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Parkinsans', sans-serif;
  font-optical-sizing: auto;
  /* background-image: url('/assets/bg-arcane.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.title {
  width: 100%;
  text-align: center;
}

.poster img {
  max-height: 80vh;
  aspect-ratio: 1/1;
}

.game {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 4px;
}

.cell {
  min-width: 60px;
  min-height: 60px;
}

.column-fixed {
  position: fixed;
  background-color: #00a7eb;
}

.choosen {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 1rem;
}

.doe {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

@media (max-width: 768px) {
  /* Estilos para smartphones maiores */

  .column-fixed {
    position: relative;
  }

  .poster img {
    width: 100vw;
  }

  .game {
    grid-template-columns: repeat(7, auto);
  }

  .cell {
    min-width: 50px;
    min-height: 50px;
  }

  .choosen {
    grid-template-columns: auto auto;
  }

  .doe img {
    width: 90vw;
  }
}
